<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        document.addEventListener("touchstart", function () {
        }, true)
    </script>
    <link rel="stylesheet" type="text/css" href="static/css/display.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wordcloud Generator | Image View </title>
</head>
<body>

<div class="row">
    <header class="header">
        <h1>Wordcloud - Generator</h1>
        <h3>by Lukas Freudenmann</h3>
    </header>

    <div class="column_one">
        <div>

            <div class="container">

                <a href="/static/ressources\uploads\words.txt" download="words.txt">
                    <button class="image_button" style="height: 1.3em; width: 1.3em; padding: 0;
                                                            vertical-align:middle; margin-top: -0.2em">
                        <svg focusable="false"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                             class="svg-inline--fa fa-save fa-w-14">
                            <path fill="currentColor"
                                  d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z"
                                  class=""></path>
                        </svg>
                    </button>
                </a>
                <h3 style="padding-left: 10px">
                    Words:
                </h3>
            </div>
        </div>
        <div class="container">
            <div class="listing">
                <nav>
                    <ul role="listbox">

                        {% for item in word_list %}
                        <li style="text-align: left">
                            <div style="height: 20px; width: 260px">

                                <div style="float: left; max-width: 160px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    {{ item.word }}
                                </div>
                                <form action="/remove-word/{{item.word}}" method="post" id="remove_word_form">
                                    <button onclick="loading()" id="remove_word_button">&#10060</button>
                                </form>

                                <div id="word_count">{{ item.amount }}</div>
                            </div>


                        </li>
                        {% endfor %}
                    </ul>

                </nav>
            </div>

        </div>
        <form action="/commit_deleted_words" style="padding-top: 20px">
                <button class="image_button" style="vertical-align:middle" onclick="loading()">
                    <span>Commit</span>
                </button>
            </form>
    </div>

    <div class="column_two">
        <div id="loading" class="loader"></div>

        <div class="slideshow-container" id="slideshow">

            {% for item in images %}
            <div class="mySlides fade">
                <img id="{{item.number}}" src="{{ item.path }}" style="width:100%" onclick="click_image(this.id)">
            </div>

            {% endfor %}


            <div id="index" class="numbertext"> 1 / {{image_count}}</div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>


        <div id="myModal" class="modal">
            <span class="close" onclick="close_fullscreen()">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>


        <script>
            function loading() {
                let x = document.getElementById("slideshow");
                let y = document.getElementById("loading");
                document.getElementById("more_images").setAttribute("disabled", "true");
                x.style.opacity = "20%";
                y.style.display = "block";
            }

            function click_image(image_id) {
                var img = document.getElementById(image_id);
                var modal = document.getElementById("myModal");
                var modalImg = document.getElementById("img01");
                modal.style.display = "block";
                modalImg.src = img.src;
            }

            function close_fullscreen() {
                var modal = document.getElementById("myModal");
                modal.style.display = "none";
            }

            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var numbertext = document.getElementById("index");
                var saver = document.getElementById("saver");
                if (n > slides.length) {
                    slideIndex = 1
                }
                if (n < 1) {
                    slideIndex = slides.length
                }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex - 1].style.display = "block";
                numbertext.textContent = slideIndex + " / " + "{{image_count}}";
                saver.href = "/static/images/" + "{{refresh_number}}" + "_image"
                    + (slideIndex - 1).toString().padStart(3, "0") + ".png";
                saver.download = "image" + slideIndex + ".png";
                var image_id = document.getElementById("image_id");
                image_id.value = slideIndex
            }

            function uploadOnChange() {
                var name = document.getElementById('file-2');
                document.getElementById('uploader_text').textContent = name.files.item(0).name;
            }
        </script>

        <div>
            <form action="/delete_image" style="float: left" method="post">
                <input name="image_id" id="image_id" style="display: none" value="1"/>
                <button id="delete_button" class="image_button" style="vertical-align:middle" onclick="loading()">
                    <span>delete image</span>
                </button>
            </form>


            <form action="/more_images_plus" style="float: right">
                <button id="more_images_plus" class="image_button" style="vertical-align:middle" onclick="loading()">
                    <span>+50</span>
                </button>
            </form>
            <form action="/more_images" style="float: right">
                <button id="more_images" class="image_button" style="vertical-align:middle" onclick="loading()">
                    <span>more images</span>
                </button>
            </form>
            <a id="saver" href="/static/images/{{ refresh_number }}_image000.png" download="image0.png">
                <button class="image_button" id="save_button" style="vertical-align:middle; float: right">
                    <span>save </span></button>
            </a>

        </div>
    </div>

    <div class="column_three">
        <h3>Settings:</h3>


        <script src="static/javascripts/jscolor.js"></script>
        <form action="/update_data" , method="post" enctype=multipart/form-data>
            <div id="settings">
                <table>

                    <tr>
                        <td>
                            Color:
                        </td>
                        <td>
                            <input name="background_color" class="jscolor" value="{{ data.color }}">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Width:
                        </td>
                        <td>
                            <input type="number" min="100" max="10000" step="10" name="width" value="{{ data.width }}">
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td>
                            Height:
                        </td>
                        <td>
                            <input type="number" min="100" max="10000" step="10" name="height"
                                   value="{{ data.height }}">
                        </td>
                    </tr>
                    <td>
                        <a target="_blank" href="https://matplotlib.org/examples/color/colormaps_reference.html"
                           style="color: #720632; text-decoration: none">
                            Color 1:
                        </a>
                    </td>
                    <td>
                        <div class="custom-select" style="width:200px;">
                            <select class="color_selector" name="color1">

                                <option value="{{data.color1}}" selected>{{data.color1}}</option>

                                {% for color in colors %}
                                <option value="{{color}}">{{color}}</option>

                                {% endfor %}
                            </select>
                        </div>
                    </td>

                    </tr>
                    <tr>
                        <td>
                            <a target="_blank" href="https://matplotlib.org/examples/color/colormaps_reference.html"
                               style="color: #720632; text-decoration: none">
                                Color 2:
                            </a>
                        </td>
                        <td>
                            <div class="custom-select" style="width:200px;">
                                <select class="color_selector" name="color2">

                                    <option value="{{data.color2}}" selected>{{data.color2}}</option>

                                    {% for color in colors %}

                                    <option value="{{color}}">{{color}}</option>

                                    {% endfor %}
                                </select>
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <a title='Use ";" to seperate individual colors'
                            >Custom Color:</a>
                        </td>
                        <td>
                            <input name="custom_color" value="{{ data.custom_color }}" style="padding: 6px 6px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a title='0 is automatic'
                            >Relative Scale:</a>
                        </td>
                        <td>
                            <input type="number" min="0" step="0.001" max="100" name="scale" value="{{ data.scale }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a title='0 equels no limit'
                            >Max Font Size:</a>
                        </td>
                        <td>
                            <input type="number" min="0" step="1" max="1000" name="max_font_size"
                                   value="{{ data.max_font_size }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Form:
                        </td>
                        <td>
                            <div style="padding-top: 12px; padding-left: 20px">
                                <input type="file" name="form" id="file-2" class="inputfile inputfile-2"
                                       style="display: none"
                                       onchange="uploadOnChange()"/>
                                <label for="file-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                        <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>
                                    </svg>
                                    <span id="uploader_text">Choose</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <button class="image_button" style="vertical-align:middle; width: 150px;" onclick="loading()">
                <span>Commit</span>
            </button>
        </form>

    </div>
</div>


</body>
</html>