<!DOCTYPE html>
<html lang="en">
<style>* {
    box-sizing: border-box;
}

/* Style the list (remove margins and bullets, etc) */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style the list items */
ul li {
    alignment: center;
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
    width: 40%;
}

/* Add a light grey background color on hover */
ul li:hover {
    background-color: #eee;
}

/* Style the close button (span) */
.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
}

.close:hover {
    background: #bbb;
}</style>

<head>
    <meta charset="UTF-8">
    <title>Wordcloud Generator - Choose your words</title>
</head>
<body>
<div align="center">
    {% for item in data %}
    <ul>
        <li> {{ item.word }}        {{ item.amount }} <span class="close">x</span></li>
    </ul>
    {% endfor %}
</div>

<script>
    var closebtns = document.getElementsByClassName("close");
    var i;

    for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function () {
            this.parentElement.style.display = 'none';
        });
    }
</script>
</body>
</html>

