* {
    box-sizing: border-box;
}

body {
    background-color: #F6F4EB;
    text-align: center;
    align-items: center;
    font-family: Verdana, sans-serif;
    margin: 0;
}

.fit {
    max-width: 100%;
    max-height: 99%;
}

.header {
    padding: 2em 1em 4em;
    text-align: center;
    color: #09263D;

}

.header h1 {
    margin: 0.5em 0 0;
    letter-spacing: -1px;
    font-size: 3em;
    line-height: 1;
}

h3 {
    margin-top: 0;
    padding-top: 0;
}

.column_one {
    float: left;
    width: 22%;
    padding: 0 20px 20px
}

.column_two {
    float: left;
    width: 58%;
}

.column_three {
    float: left;
    width: 20%;
    padding: 0 20px 20px
}

#settings {
    padding: 20px;
    text-align: left;
    font-size: 18px;
    color: #720632;

}

input {
    width: 150px;
    padding: 6px 20px;
    display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 8px 0 8px 20px;
}

.row {

    align-items: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 95%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

#remove_word_button {
    cursor: pointer;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    background-color: Transparent
}

#remove_word_form {
    float: right;
    padding-left: 10px;
    padding-right: 5px;
}

#word_count {
    float: right;
    padding-left: 10px;
    padding-right: 20px
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 300px;
}

nav ul {
    height: 600px
}

nav ul {
    overflow: hidden;
    overflow-y: scroll;
}

/* Style the list items */
ul li {
    alignment: left;
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 4px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    display: block;
    position: relative;
}

/* Add a light grey background color on hover */
ul li:hover {
    background-color: #eee;
}

#loading {
    position: absolute;
    display: none;
    top: 40%;
    left: 45%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #720632;
    width: 160px;
    height: 160px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    z-index: 10
}

.listing {
    display: block;
    float: left;
}

.image_button {
    display: inline-block;
    border-radius: 4px;
    background-color: #09263D;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}


.image_button:hover {
    box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.2);

}

#save_button {
    width: 150px;
}

#delete_button {
    background-color: #720632;
}

.container {
    display: flex;
    justify-content: center;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px;
    margin-top: -34px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 4px;
}

/* Position the "next button" to the right */
.next {
    right: 4px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    margin-left: 4px;
    margin-top: 4px;
    background-color: rgba(44, 44, 44, 0.7);
    top: 0;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}


/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.inputfile-2 + label {
    color: #720632;
    border: 2px solid currentColor;
}

.inputfile-2 + label:hover {
    color: #09263D;
}

.box {
    text-align: center;
    background-color: #eeeeee;
    padding: 6.25rem 2.25rem;


}

.inputfile + label {
    width: 150px;
    font-size: 14px;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 8px 20px;
    /* 10px 20px */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.color_selector {
    padding: 6px 20px;
    display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 8px 0 8px 20px;
}